<div class="banner">
    <div class="horizontalScroll">
        <div class="horizontalScrollBanner">
            <img src={{bannerImg}}>
        </div>
    <div>
    <div class="verticalScroll">
        <div class="verticalScrollDiv" id="verticalScrollDiv">
            <ul class="sectionA">
                <li class="sectionALi" *ngFor="let img of bannerImgs">
                   <img src={{img}}>
                </li>
            </ul>
            <ul class="sectionB">
                <li class="sectionALi" *ngFor="let img of bannerImgs">
                    <img src={{img}}>
                </li>
            </ul>
        </div>
    <div>
</div>