.inputBox{
    width: 400px;
}
.inputBox input{
    -web-kit-appearance: none;
    -moz-appearance: none;
    font-size: 1.4em;
    height:25px;
    border-radius: 8px;
    border:1px solid #c8cccf;
    color:white;
    margin-top: 16px;
    background-color: transparent;
    outline: none;
    width: 400px;
    padding: 3px 4px;
}

